.nunito {
            font-family: 'nunito', font-sans;
        }
        
        .border-b-1 {
            border-bottom-width: 1px;
        }
        
        .border-l-1 {
            border-left-width: 1px;
        }
        
        hover\:border-none:hover {
            border-style: none;
        }
        
#sidebar {
    transition: all 0.3s ease;
    z-index: 9999;

    width: 0;
    padding: 0;

    background-color: transparent;
    box-shadow: none;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
}


/* Cuando se abre el menú */
#sidebar.menu-abierto {
    width: 230px;

    padding-left: 16px;
    padding-right: 16px;

    background-color: white;

    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
}


/* Botón hamburguesa siempre visible */
#menuButton {
    position: fixed;

    top: 15px;
    left: 15px;

    z-index: 10000;
}


/* Opciones ocultas cuando está cerrado */
#menuOpciones {
    display: none;
    margin-top: 80px;
}


/* Opciones visibles cuando se abre */
#sidebar.menu-abierto #menuOpciones {
    display: block;
}

/* libros*/
.libros-seccion {
    padding: 20px;
}

.libros-seccion h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.contenedor-libros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-items: start;
}

.libro {
    text-align: center;
}

.libro img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.libro img:hover {
    transform: scale(1.05);
}

.libro p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}